<div class="container-fluid mt-5">
    <h3 class="fw-bold mb-4">Employee List</h3>
    <button class="btn btn-primary mb-3" (click)="openForm()">
        <i class="bi bi-plus-circle"></i> Add Employee
    </button>
    <div class="card shadow">
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle mb-0">

                <thead class="table-dark text-center">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Designation</th>
                        <th>Joining Date</th>
                        <th>Monthly Salary</th>
                        <th>Skills</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @for (emp of employees$ | async; track emp.employeeId) {
                    <!-- @for (emp of employees; track emp.employeeId) { -->
                    <tr>
                        <!-- Image -->
                        <td class="text-center">
                            <img [src]="emp.employeeImage" alt="Employee" width="50" height="50"
                                class="rounded-circle border">
                        </td>

                        <td>{{ emp.employeeId }}</td>
                        <td>{{ emp.employeename }}</td>
                        <td>{{ emp.dateOfBirth | date:'dd/MM/yyyy' }}</td>
                        <td>{{ emp.contactNumber }}</td>
                        <td>{{ emp.email }}</td>
                        <td>{{ emp.designation }}</td>
                        <td>{{ emp.joiningDate | date:'dd/MM/yyyy' }}</td>

                        <!-- Currency Pipe -->
                        <td>{{ emp.monthlySalary | currency:'USD':'symbol' }}</td>
                        <td> {{ emp.skills?.join(', ') }}</td>
                        <!-- Full Address -->
                        <td>
                            {{ emp.address.addressline1 }},
                            {{ emp.address.addressline2 }}
                            {{ emp.address.pinCode }}
                        </td>
                        <td>{{ emp.address.city }}</td>
                        <td>{{ emp.address.state }}</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <span (click)="editEmployee(emp)" title="Edit Employee" class="edit-icon">
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                <!-- <button class="btn btn-sm btn-warning me-2" (click)="editEmployee(emp)"
                                    title="Edit Employee">
                                    <i class="bi bi-pencil-square"></i>
                                </button> -->
                                <!-- <button class="btn btn-sm btn-danger" (click)="openDeleteConfirm(emp)"
                                    title="Delete Employee">
                                    <i class="bi bi-trash delete-icon"></i> </button> -->
                                <span (click)="openDeleteConfirm(emp)" title="Delete Employee" class="delete-icon">
                                    <i class="bi bi-trash"></i>
                                </span>
                            </div>
                        </td>

                    </tr>

                    @if ((employees$ | async)?.length === 0) {
                    <tr>
                        <td colspan="13" class="text-center text-muted py-3">
                            No Employees Available
                        </td>
                    </tr>
                    }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
@if(showFormModal){
<div class="modal-backdrop fade show"></div>

<div class="modal d-block" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">
                    {{ selectedEmployee?.employeeId ? 'Edit Employee' : 'Add Employee' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeFormModal()"></button>
            </div>

            <div class="modal-body">
                <app-reactive-employee-form (saveEmployee)="saveEmployee($event)" [employeeData]="selectedEmployee">
                </app-reactive-employee-form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeFormModal()">
                    <i class="bi bi-x-circle"></i>
                    Close
                </button>
            </div>

        </div>
    </div>
</div>
}


@if(showDeleteModal) {
<div class="modal-backdrop fade show"></div>

<div class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Confirm Delete</h5>
            </div>

            <div class="modal-body">
                Are you sure you want to delete
                <strong>{{ employeeToDelete?.employeename }}</strong>?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">
                    Cancel
                </button>

                <button type="button" class="btn btn-danger" (click)="confirmDelete()">
                    Yes, Delete
                </button>
            </div>

        </div>
    </div>
</div>
}